main {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 4rem;
    background-color: var(--secondary-background);
    width: 100%;
    min-height: calc(100% - 4rem);
    color: var(--secondary-color);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}

.content h1 {
    font-size: 3.5rem;
}

.highlight {
    line-height: 2;
    z-index: 5;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
}

.highlight:hover::before {
    height: 50%;
}

.highlight::before {
    content: "";
    height: 33%;
    width: 105%;
    display: block;
    z-index: -5;
    opacity: 40%;
    position: absolute;
    left: -2.5%;
    margin-bottom: 0.5em;
    transition: height 200ms ease;
    background: linear-gradient(180deg, transparent 50%, #fe55b2 50%);
}

p .highlight::before {
    width: 100%;
    left: 0;
}

.body {
    width: 100%;
    text-align: left;
}

.content p, .content a {
    font-size: 1.25rem;
}

.content h2 {
    font-size: 3rem;
    margin: 0;
}

.content ul {
    font-size: 1.3rem;
    text-wrap: balance;
    margin: 2rem;
}

.center {
    display: flex;
    justify-content: center;
}

@media (orientation:landscape) {
    .content {
        width: 60%;
    }

    ul {
        columns: 2;
    }
}

@media (orientation:portrait) {
    .content {
        width: 90%;
    }
}

.portrait {
    height: calc(min(15rem, 30vw));
    width: calc(min(15rem, 30vw));
    object-fit: cover;
    clip-path: circle(calc(min(5.9rem, 11vw)));
    margin: 1rem;
    transform: scale(125%);
    overflow: hidden;
    padding: 0;
}

.content > div {
    width: 100%;
}

.content > div:has(.portrait) {
    min-height: min(15rem, 30vw);
}

.content > div:nth-of-type(odd) img {
    float: left;
}


.content > div:nth-of-type(even) img {
    float: right;
}

.divider {
    width: 100%;
    height: 3.5rem;
    margin-bottom: 2rem;
    border-bottom: var(--secondary-color) solid 1px;
}

.opposite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.opposite img {
    height: 1.5rem;
}

.projects {
    columns: 1;
    list-style-type: none;
}

.project > * {
    padding: 0;
    margin: 0.1rem;
}

.project p {
    line-height: 1;
}

.project:not(:last-child) {
    border-bottom: #f3e5f31a solid 1px;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: #f3e5f39c;
}

.tags p {
    font-size: 1rem;
}

.timeline-item {
    display: table-row;
    list-style: none;
}

.timeline-left-date {
    display: none;
    text-wrap: balance;
    line-height: 1;
    vertical-align: top;
    padding-top: 0.25rem;
    padding-right: 0.75rem;
}

.timeline-right-date {
    margin-top: 0;
    line-height: 1;
    position: relative;
    top: 0.25rem;
}

.timeline-item ul {
    columns: 1;
}

.timeline-marker {
    display: table-cell;
    position: relative;
    top: 0;
    left: 0;
}

.timeline-marker::before {
    position: absolute;
    top: 0.25rem;
    left: 0;
    content: "";
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--primary-background);
    border-radius: 0.75rem;
}

.timeline-item:not(:last-of-type) .timeline-marker::after {
    content: "";
    width: 2.5px;
    background-color: var(--primary-color);
    display: block;
    position: absolute;
    top: 1.75rem;
    left: calc(0.75rem - 3px);
    bottom: 0;
}

.timeline-content {
    padding-left: 3rem;
    display: table-cell;
    padding-bottom: 3rem;
}

.timeline-content h3 {
    position: relative;
    top: 0.25rem;
    margin: 0;
    line-height: 1;
}

.timeline-content ul {
    margin: 0.5rem;
}

.timeline-content .location {
    color: #ff65ad;
}

@media (orientation:landscape) {
    .timeline-right-date {
        display: none;
    }

    .timeline-left-date {
        display: table-cell;
    }

    .timeline-item {
        display: table-row;
    }

    .timeline-marker {
        position: relative;
    }
}

.hidden {
    display: none;
}

.dropdown-label {
    transform: rotate(0deg);
    transition: transform 0.25s ease-out;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.project:has(input:checked) .dropdown-label {
    transform: rotate(-90deg);
}

.image-container {
    margin-top: 1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-height: 0;
    width: 60%;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.project:has(input:checked) .image-container {
    max-height: 40vw;
}

@media (orientation:portrait) {
    .projects {
        padding: 0;
    }

    .project {
        width: 100%;
    }

    .project > .image-container {
        width: 90%;
    }

    .project:has(input:checked) .image-container {
        max-height: 81vw;
    }
}
